body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F5;
  font-family: "Source Sans Pro", sans-serif;
  color: #000000;
  padding-bottom: 30px;
}

.container{
  background-color: #fff;
  width: 365px;
  margin-top: 30px;
}

header {
  border-bottom: 2px solid #c6c6c6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.main-logo {
  width: 127px;
  height: 33px;
}

.img-logo {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.img-profile{
  width: 100%;
  display: block;
  margin-bottom: 21px;
}

.profile-container {
  display: flex;
  justify-content: flex-start;
  width: 365px;
  padding: 10px;
}

.profile-details h6 {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  margin: 0 0 0 7px;
}

.profile-details p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 0 7px;
}

.size-adjust{
  width: 25px;
  height: 23px;
}

.like-icon:hover{
  background-image: url(./images/like-red.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 99%;
}

.like-container{
  display: flex;
  align-items: center;
  margin: 0 0 10px 10px;
  gap: 15px; 
}

.likes-p {
font-weight: 700;
font-size: 13px;
line-height: 16px;
margin-left: 13px;
}

.notification-p {
font-weight: 700;
font-size: 13px;
line-height: 16px;
margin: 12px 0 0 13px;
padding-bottom: 16px;
}

.notification-p span {
  font-weight: 400;
}

